<div class="wrapper">
  <div class="left__wrapper">
    <div class="left__wrapper__link">
      
      <a href="#" class="left__wrapper__link--white">ユーザー登録</a>
      <a href="#" class="left__wrapper__link--blue">ログイン</a>
    </div>
  </div>

  <div class="right__wrapper">
    
  </div>
</div>
