<div class="profile">
  <div class="profile__contents">
    <div class="profile__title">
      <h2>開発者のご紹介</h2>
    </div>
    <div class="profile__content">
     
      <%= image_tag "IMG_0010_Original.jpg", class: "profile__image" %>
     
      <div class="profile__table">
        <div class="profile__name">
          <p class="profile--bold"> 名前</p>
          <p>SHUN</p>
        </div>
        <div class="profile__history">
           <p class="profile--bold">経歴</p>
           <p>2009.4 西南学院大学に入学</p>
           <p>2009.4 ラクロス部に入部</p>
           <p>2012.8 U22選抜&九州リーグ制覇</p>
           <p>2014.3 西南学院大学を卒業</p>
           <p>2014.4 某携帯会社に入社</p>
           <p>2018.5 光回線&タブレット販売数により表彰 </p>
           <p>2018.9 運営責任者に任命される</p>
           <p>2019.12 エンジニアになる決意を固め退社</p>
           <p>2019.4 TECHCAMPに入学</p>
        </div>
      </div>
    </div>
  </div>
</div>