@media(max-width: 480px) {
  
  .group__content {
    padding: 0;
  }
  
  .group__name {
    margin: 0;
    width: 100vw;
    margin-bottom: 30px;
  }

  .group__name__head {
    font-size: 20px;
  }

}