@media (max-width: 480px) {

  .posts {
    padding: 10px;
  
    .post__content{
      width: 88vw;
      padding: 15px;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;

      &__upper {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        font-weight: bold;
        
        .user__info {
          margin-right: 10px;
        }
        
        .post__user__image {
          border-radius: 50%;
          height: 50px;
          width: 50px;
          margin: 0;
        }
      }
      
  
  
      &__middle {
       display: flex;
       flex-direction: column;
        
       .post__image {
          border-radius: 10px;
          height: 25vh;
          width: 75vw;
          margin-top: 10px;
        }
      }

      &__right {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px 10px 5px;
        height: 180px;
        
        &__part {
          font-size: 14px;
          margin-top: 20px;
          font-weight: normal;
          background:rgba(0, 0, 0, 0) 
          linear-gradient(transparent 80%, #FFDFEF 0%) repeat scroll 0 0;
        }
      }
    
      &__bottom {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 70vw;  
      }
    }
  }

  .form {
    padding: 20px;
  }

  .post__logo {
    width: 90px;
    font-size: 16px;
  }

  #post_content{
    margin-left: 0;
  }

  .close__btn {
    background-color: white;
  }

  #img_prev {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: none;
  }
  
  #img_prevs {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: none;
  }

  #post_age {
    height: 30px;
    margin-top: 30px;
    width: 80%;
  }

  #post_kind {
    height: 30px;
    margin-top: 30px;
    width: 80%;
  }

  #post_gender {
    height: 30px;
    margin-top: 30px;
    width: 80%;
  }

  #post_vaccination {
    height: 30px;
    margin-top: 30px;
    width: 80%;
  }

  #post_character {
    height: 30px;
    margin-top: 30px;
    width: 80%;
  }

  #post_content {
    width: 80%;
    margin-left: 30px;
    border-radius: 10px;
  }

  #post_name {
    width: 80%;
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .chat__form {
    position: relative;
    bottom: 0px;
  }

  .mypage {
    margin: 20px;
    font-size: 18px;
    width: 90%;
  }

  .comment__input {
    width: 60vw; 
    font-size: 16px;
    border-radius: 3px; 
    border: 2px solid #ddd;
    margin-right: 20px;
    position: fixed;
    bottom: 8px;
    right: 110px;
  }

  .comment__send__btn {
    position: fixed;
    bottom: 8px;
    right: 5px;
  }

  .comment__index {
    margin-left: 30px;
    padding: 10px;
    font-size: 18px;
  }

  .comments {
    width: 85vw;
  }

  .right__box {
    margin: 0;
  }
}