// --グループ一覧--
.group__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.group__name {
  margin-top: 20px;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
}

.group__name__head {
  font-size: 26px;
  font-weight: bold;
  margin-left: 20px;
}

.group__create__time {
  margin-left: 20px;
}