
*:focus {
  outline: none !important;
}



* {
  font-family: serif;
  box-sizing: border-box;
  text-decoration: none;
}
.header {
  height: 70px;
  width: 100vw;
  background-color: #ffddbc;
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    
    height: 70px;
    width: 250px;
    padding: 5px;
  }

  &__logo span {
    color: #444;
    font-size: 24px;
    margin-top: 5px;
    
    // border-bottom: 1px solid #bfbfbf;
      &:first-letter{
      font-size: 48px;
    }
  }

  &__logo img {
    height: 60px;
    width: 60px;
    margin: 10px 5px 5px 10px;
  }
  
  
  &__list ul {
    display: flex;
    
  }

  &__list li {
    margin-right: 20px; 
    font-size: 20px;
    color: white;
    line-height: 100px;
    font-weight: bold;
  }

}

.main__contents {
  display: flex;
  
}

.left__contents {
  height: calc(100vh - 70px);
  width: 250px;
  background-color: #ffddbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;


  .left__content  {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    margin: 20px 0;
    color: black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    
  }
}

.right__contents {
  width: calc(100vw - 250px);
  height: calc(100vh - 70px);
  overflow: scroll;
  padding: 20px;
  background-color: #ffddbc;
}

.right__content {
  

  .post__logo {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: inline-block;
    width: 80px;
    height: 50px;
    background-color: #FF9933;
    border-radius: 10px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
}

.posts {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  
  
  
  
  .post__content {
    width: 65vw;
    height: 60vh;
    background: #fffde8;
    box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
    border: dashed 2px #ffb03f;/*破線*/
    border-radius: 9px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: black;
    // margin-left: 30px;
    padding: 40px;
    position: relative;
    
    &__upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      
      
      .nickname {
        font-size: 18px;
      }
      
      .post__user__image {
        border-radius: 10px;
        height: 70px;
        width: 70px;
        margin: 10px;
      }
    }
    


    &__middle {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 20px 0 10px;

      .post__content__image {
        
        .post__image {
          border-radius: 10px;
          height: 25vh;
          width: 20vw;
        } 
      }
    }
      &__right {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px 10px 5px;
        height: 180px;
        // width: 25vw;
        
        &__part {
          font-size: 16px;
          margin-top: 20px;
          
          font-weight: bold;
          background:rgba(0, 0, 0, 0) 
          linear-gradient(transparent 80%, #FFDFEF 0%) repeat scroll 0 0;
        }
      }
    
      &__bottom {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 2vw;
        width: 60%;
        height: 50%;
        
      }

  }
}

.edit {
  margin-top: 10px;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
}


.edit__form {
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
  background-color: #FF9933;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  padding: 10px;
}
   
.destroy__form {
  font-size: 16px;
  font-weight: bold;
  color: gray;
  display: inline-block;
  background-color: #e0ffff;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  padding: 10px;
  margin-left: 10px;
}



.form-error {
  text-align: center;
  color: red;
  font-size: 20px;
}


a, a:visited, a:focus, a:hover {
  text-decoration: none;
}


.create__time {
  font-size: 12px;
}

.ma {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}


.chat__form {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.chat__send {
  height: 60px;
  background-color: #c1ffc1;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  border: 2px solid black;
  
}

