
* {
  font-family: serif;
  box-sizing: border-box;
}
.header {
  height: 70px;
  width: 100vw;
  background-color: #FFC7AF;
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 250px;
    padding: 5px;
  }

  &__logo h1 {
    color: #444;
    line-height: 1.6em;
    line-height: 80px;
    font-size: 24px;
    padding: 5px 20px 0 0;
    // border-bottom: 1px solid #bfbfbf;
      &:first-letter{
      font-size: 48px;
    }
  }

  &__logo img {
    height: 60px;
    width: 60px;
    margin: 10px 0 0px 5px;
  }
  
  
  &__list ul {
    display: flex;
    
  }

  &__list li {
    margin-right: 20px; 
    font-size: 20px;
    color: white;
    line-height: 100px;
    font-weight: bold;
  }

}

.main__contents {
  display: flex;
  
}

.left__contents {
  height: calc(100vh - 70px);
  width: 250px;
  background-color: #FFC7AF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;


  .left__content {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    margin: 20px 0;
    color: black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
}

.right__contents {
  width: calc(100vw - 250px);
  height: calc(100vh - 70px);
  position: relative;
  overflow: scroll;
  padding: 50px;
}

.right__content {
  

  .post__logo {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: inline-block;
    width: 80px;
    height: 50px;
    background-color: #FF9933;
    border-radius: 10px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
}

.posts {

  .post__content {
    background: #fffde8;
    box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
    border: dashed 2px #ffb03f;/*破線*/
    border-radius: 9px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .post__content__image {
      padding: 20px;
    }
  }
}



// .footer {
//   width: 100vw;
//   height: 20px;
//   background-color: #ffefd5;
// }