.serch__content {
  margin: 0 auto;
}



.search__form__input {
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 35px;
  width: 245px;
  overflow: hidden;
  
}
.search__form__input:focus {
  outline: 0;
}
.search_btn{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background-color: transparent;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}



